/* ==========================================================================
   Table of Contents
   ========================================================================== */
/*
 1. Variables
 2. Reset
 3. Base Styles
 4. Typography
 5. Layout
 6. Components
 7. Sections
 8. Footer
 9. Media Queries
*/

/* ==========================================================================
   1. Variables
   ========================================================================== */
:root {
    /* Colors */
    --Blue-Gray-900: #071129;
    --Blue-Gray-600: #475569;
    --Blue-600: #2563EB;
    --White: #FFFF;
    --Blue-Gray-300: #cbd5e14d;
}

/* ==========================================================================
   2. Reset
   ========================================================================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    overflow-x: hidden;
}


li {
    list-style-type: none;
    align-items: center;
    display: flex;
}

/* ==========================================================================
   3. Base Styles
   ========================================================================== */
body {
    background: var(--White);
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 1em;
    line-height: 150%;
}

main{
    padding-top: 70px;
}

img {
    max-width: 100%;
    height: auto;
}

/* ==========================================================================
   4. Typography
   ========================================================================== */
@font-face {
    font-family: "Roboto Regular 400";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Medium 500";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Bold 700";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-display: swap;
}

h1,
h2,
h3 {
    color: var(--Blue-Gray-900);
    line-height: 110%;
    font-family: "Roboto Bold 700";
}

h1 {
    font-size: 32px;
    
}

h2,
h3 {
    font-size: 2.5em;
}



h4 {
    color: var(--Blue-Gray-900);
}

p,
input,
textarea {
    font-family: "Roboto Regular 400";
    color: var(--Blue-Gray-600);
    line-height: 150%;
}

a,
li {
    color: var(--Blue-Gray-900);
    font-family: "Roboto Bold 700";
}

button,
strong,
h4 {
    font-family: "Roboto Medium 500";
}

nav ul li a,
button,
input {
    font-size: 16px;
}

#nav-link {
    text-decoration: none;
}

#nav-link {
    text-decoration: none;
    color: inherit;
    position: relative;
    transition: color 0.3s ease;
}

#nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: currentColor;
    transform: scaleX(0);
    transition: transform 0.3s ease;

}

#nav-link.active::after,
#nav-link:hover::after {
    transform: scaleX(1);
}

.primary-link {
    color: var(--Blue-600);
}

/* ==========================================================================
   5. Layout
   ========================================================================== */
.text-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}



.primary-link-container {
    display: flex;
    align-items: center;
    padding: 12px 0;
    gap: 16px;
}

section {
    padding: 3em 1em;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* ==========================================================================
   6. Components
   ========================================================================== */
/* Buttons */
button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: auto;
    cursor: pointer;
    letter-spacing: 0.5px;
    transition: all 0.10s;
    border-radius: 8px;
    text-wrap: nowrap;
    max-width: fit-content;
}

.ham-menu{
    display: flex;
    flex-direction: column;
    gap: 4px;
    grid-column: 5;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;


}


/* X transformation */
.ham-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.ham-menu.active .bar:nth-child(2) {
    opacity: 0;
}

.ham-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}



.bar{
    width: 25px;
    height: 3px;
    background-color: var(--Blue-Gray-900);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.mobile-menu{
    margin-top: 67px;
    position: fixed;
    height: 100vh;
    background-color: var(--White);
    width: 100%;
    z-index: 1;
    right: -2000px;
    transition: 0.3s ease;
    box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.mobile-menu ul{
    width: 100%;

}

.mobile-menu ul li{
    border-bottom: 1px solid rgba(128, 128, 128, 0.192);
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

.mobile-menu ul li a{
    color: var(--Blue-Gray-900);
    font-size: 18px;
    line-height: 1.5;
    padding: 12px 16px; /* This creates a larger touch target */
}

.mobile-menu.active{
    right: 0;
    top: 0;
}

.primary-btn {
    padding: 12px;
    background: var(--Blue-600);
    border: 2px solid var(--Blue-600);
    color: var(--White);
}

.primary-btn img,
.primary-btn span {
    padding: 0 0 0 16px;
    height: auto;
    max-width: fit-content;
}

.secondary-btn {
    padding: 12px 8px;
    color: var(--Blue-600);
    background: var(--White);
    border: none;
}

.secondary-btn span {
    padding: 0 16px;
}

.tertiary-btn {
    color: var(--Blue-Gray-900);
    background: var(--White);
    border: 1px solid rgba(128, 128, 128, 0.315);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 16px;
    transition: all 0.15s ease;
}

.tertiary-btn:hover{
    background-color: rgba(128, 128, 128, 0.11);
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}


.button-container * {
    width: 100%;
}

.button-container .tertiary-btn:nth-child(2){
    border-radius: 0;
}

.button-container .tertiary-btn:nth-child(3){
    border-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Input fields */
.input-container {
    border: 1px solid rgba(128, 128, 128, 0.315);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    transition: all 0.15s ease;
    width: 100%;

}

input,
textarea {
    width: 100%;
    border: none;
    outline: none;
}



.input-container:focus-within {
    transform: scale(1.01);
}



.input-button-container {
    gap: 8px;
    display: flex;
}

/* Chart */
.chart-container {
    display: flex;
    position: relative;
    border-radius: 100%;
    grid-column: 8/12;
    margin: 0 auto;
}




.chart-icon {
    position: absolute;
    max-width: 30px;
    max-height: 30px;
    will-change: transform;
    cursor: grab;
    transition: cursor 0.3s ease;
    pointer-events: auto;
}

/* Feature cards */
.feature-card {
    box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow: hidden;
    margin-bottom: 2rem;
}

.feature-card:hover {
    box-shadow: 4px 4px 4px 7px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.feature-card img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.img-container img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    object-position: center;
}




.feature-text-container {
    padding: 1rem 1rem 1rem .5rem;
}

.feature-text-container p {
    padding-bottom: 1rem;
}

.feature-text-container button {
    border-radius: 8px;
    padding: 1rem 2rem;
}


/* ==========================================================================
   7. Sections
   ========================================================================== */
/* Navigation */
nav {
    padding: 1em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.192);
    text-wrap: nowrap;  
    position: fixed;
    z-index: 1;
    background-color: #FFF;
    width: 100%;
}

nav ul,
nav .primary-btn,
.secondary-btn {
    display: none;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.menu-btn {
    border: none;
    background-color: #fff;
    grid-column: 5;
}

.menu-btn img {
    width: 30px;
    height: 30px;
}

/* Section 2 */
.section-2 .img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    order: 1;
}



/* Section 3 */


.section-3 .img-container {
    margin: 0 auto;
    
}

/* Section 4 */
.section-4 {
    background: linear-gradient(0deg, rgba(88, 28, 135, 0.75) 0%, rgba(88, 28, 135, 0.75) 100%), url(../img/hot-air-bg.jpg) lightgray 50% / cover no-repeat;

}

.section-4 * {
    color: var(--White);
}

.section-4 .secondary-btn {
    display: flex;
    background-color: transparent;
    justify-content: start;
    max-width: fit-content;
    padding: 12px 0;
}

.section-4 .secondary-btn span {
    padding: 0 16px 0 0;
}

/* Section 5 */
.section-5 button {
    max-width: 100%;
}

/* Section 6 */
.section-6 {
    text-align: center;
    background: linear-gradient(99deg, #312E81 0%, #1E40AF 0.01%, #1E3A8A 46%, #701A75 96.97%);
    margin-bottom: 0 !important;
}

.section-6 * {
    color: var(--White);
}

/* Press Container */
.press-container {
    display: flex;
    padding: 8px 0;
    align-self: stretch;
    margin: 0 auto;
}

.press-container img {
    margin: 8px 12px 0 0;
}

/* ==========================================================================
   8. Footer
   ========================================================================== */
footer {
    display: flex;
    padding: 1.5em;
    flex-direction: column;
    gap: 16px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    max-width: fit-content;
}

footer ul li:nth-child(5) {
    display: none;
}

footer ul li a {
    font-family: "Roboto Regular 400";
}

footer p,
footer a {
    color: var(--Blue-Gray-600);
}

.section-2 .img-container img{
    object-position: center;
}

/* ==========================================================================
   9. Media Queries
   ========================================================================== */
/* Small Tablet Styles */
@media screen and (min-width: 620px) {


    section {
        padding: 5em;
    }

    section .img-container {
        margin: 0 auto;
    }
}

/* Large Tablet and Laptop Styles */
@media screen and (min-width: 960px) {
    body {
        font-size: 18px;
    }

    main{
        padding-top: 114px;
    }

    h2 {
        font-size: 4em;
    }

    section,
    footer {
        display: flex;
        align-items: center;
        padding: 4.5em;
    }

    .hero {
        margin: 3.5rem 0;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-container {
        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: center;
    }

    .press-container {
        margin: 0;
    }

    /* Layout */
    .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }



 

    .hero .img-container,
    .section-4 .text-container,
    .section-5 .img-container {
        grid-column: 7/12;
    }

    .text-container {
        grid-column: 2/6;
    }

    .section-5 .text-container {
        grid-column: 2/6;
    }

    .section-5 .img-container {
        grid-column: 7/12;
    }


    .section-2 .img-container {
        grid-row: 1;
        grid-column: 2/6;
        gap: 1.2em;
    }

    .section-2 .text-container {
        grid-column: 7/12;
    }



    .section-3 .text-container {
        grid-column: 2/7;
    }

    .section-3 .img-container {
        grid-column: 7/13;
    }





    /* Navigation */
    nav .primary-btn,
    .secondary-btn {
        display: inline-flex;
    }

    .nav-btn-container {
        grid-column: 12;
        display: flex;
        gap: 1rem;
        width: 300px;
        flex-grow: 1;
    }

    .link-container {
        grid-column: 2/7;
    }

    nav {
        padding: 1.4em;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;
    }

    .link-container {
        grid-column: 7;
    }

    nav ul li {
        padding: 12px 8px;
    }

    footer ul li:nth-child(5) {
        display: flex;
    }

    nav ul li img {
        padding: 0 0 0 8px;
    }

    .ham-menu, .mobile-menu {
        display: none;
    }


    .features-h3 {
        grid-column: 1/end;
        margin: 0 auto;
        margin-bottom: 1em;
    }

    .feature-container {
        grid-column: 1/end;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 5em;
        margin: 0 auto;
    }



}

/* Desktop Styles */
@media screen and (min-width: 1200px) {
    body {
        font-size: 20px;
        max-width: 2000px;
        margin: 0 auto;
    }

    section {
        padding: 4em;
    }
}